version: v3
teleport:
  data_dir: /var/lib/teleport
  join_params:
    token_name: {{ teleport_auth_token }}
    method: token
  proxy_server: teleport.facha.dev:443
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  #ca_pin: sha256:fd6a4106f2f644b238f8efd5673ff73b85a270cd95d650a16cb2a62afaf8980e
  diag_addr: ""
auth_service:
  enabled: "no"
ssh_service:
  enabled: "yes"
  labels:
{% for ssh_label in teleport_ssh_labels %}
    {{ ssh_label.k }}: {{ ssh_label.v }}
{% endfor %}
  commands:
  - name: hostname
    command: [hostname]
    period: 1m0s
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}